@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a{
  all: unset;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: 'Rajdhani', sans-serif;
}


header a {
  text-decoration: none;
}

header {
  padding: 20px;
  background-color: #fff8e8;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.logo img{
  padding-top: 20px;
    width: 70px;
    height: auto;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

ul a {
  color: white;
}



#home,
#about,
#contact {
  border-radius: 5px;
  padding: 5px 8px;
  padding-left: 1.8em;
}

.mobile-menu li{
  border-radius: 5px;
  padding: 5px 8px;
  padding-left: 1.8em;
}

#about a {
  color: black;
}

#home a {
  color: black;
}

#contact a {
  color: black;
}

.menuToggle {
  margin: auto 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.6em;
  display:none;
  visibility: hidden;
  opacity: 0;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

 .mobile-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-right: 3rem;
  cursor: pointer;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.fa-bars{
  color: black;
}

header button{
    width: 23%;
    height: 40px;
    border: 1;
    font-weight: bold;
    border-color: black;
    background-color: #f6c667;
    cursor: pointer;
    color: black;
    border-radius: 30px;
    overflow: hidden;
}

.fa-cart-shopping {
  padding-top: 20px;
}

/* Shop Card Section */

.shop-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #e0e0e0;
  font-family: 'Gloock', serif;
}

.shop-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  padding-top: 3rem;
}

.card {
  width: 270px;
  height: 470px;
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 1rem;
}

.card h2{
  font-size: 20px;
  padding-left: 5px;
}

.card p{
  font-size: 20px;
  padding-left: 5px;
}

.card h2, p{
  color: black;
  padding-bottom: 15px;
  padding-top: 5px;
}

.button-mover{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.car-1 {
  background-image: url(Photos/38517_INBK.jpg);
  
}

.car-2 {
  background-image: url(Photos/blueshirt.jpeg);
}

.car-3 {
  background-image: url(Photos/blueshirt2.webp);
}

.car-4 {
  background-image: url(Photos/greyshirt.jpeg);
}

.car-5 {
  background-image: url(Photos/redshirt.jpeg);
}

.car-6 {
  background-image: url(Photos/redshirt.jpeg);
}

.car-7 {
  background-image: url(Photos/redshirt.jpeg);
}

.car-8 {
  background-image: url(Photos/redshirt.jpeg);
}

.shop-button{
  width: 100%;
  border-radius: 8px;
  border: 0;
  padding: .8em;
  background-color: #1DA1F2;
  color: white;  
  cursor: pointer;
  }

.image-carousel img{
  width: 100%;
}

.car-1{
  display: flex;
  align-items: center;
  justify-self: center;
  
}

/* Footer Section */

.footer-section{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 2rem;
    font-weight: lighter;

}

.footer h1{
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    letter-spacing: .1rem;
}
    
.footer p{
    padding-top: .5rem;
    font-size: .7rem;
    color: black;
    font-weight: bold;
    padding: 2% 7% 2% 7%;
}
    
.fa-brands{
    color: black;
    font-size: 2em;
}
  
@media only screen and (min-width: 1024px)  {

.carousel-section{
  padding-left: 20em;
  padding-right: 20em;
  padding-bottom: 5em;
}


}

@media screen and (max-width:600px){
  .menuToggle{
      display:block;
      visibility: visible;
      opacity: 1;
      top: 1em;
      right: 1em;
  }

  .mobile-menu{
      display:none;
  }
  
  .mobileMenu.open .mobile-menu {
      position: absolute;
      top: 70px;
      z-index:1;
      left: 0;
      height: 60vh;
      width: 100%;
      background-color: #fff8e8;
      display:block;
    }

    header button{
      width: 23%;
      height: 40px;
      margin-top: .8em;
      border: 1;
      font-weight: bold;
      border-color: black;
      background-color: #f6c667;
      cursor: pointer;
      color: black;
      border-radius: 30px;
      overflow: hidden;
  }

  /* Cart Toggle*/

  .cartToggle{
    display:block;
    visibility: visible;
    opacity: 1;
    top: 1em;
    right: 1em;
}

.cart-menu{
    display:none;
}

.cartMenu.open .cart-menu {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: #fff8e8;
    display:block;
  }

  

}